Source: linuxmuster-base7
Section: linuxmuster
Priority: optional
Maintainer: Thomas Schmitt <thomas@linuxmuster.net>
Build-Depends: debhelper (>= 5.0.0)
Standards-Version: 5.0.0

Package: linuxmuster-base7
Architecture: all
Conflicts: dnsmasq-base
Pre-Depends: python3
Depends: coreutils, cups, printer-driver-cups-pdf, isc-dhcp-server, linuxmuster-webui7, python3-bcrypt, python3-bs4, python3-lxml, python3-ipy, python3-reconfigure, python3-apt, python3-netifaces, python3-dialog, python3-paramiko, openssl, ntp, ntpdate, samba, samba-dsdb-modules, smbclient, ldb-tools, krb5-user, linuxmuster-linbo7, screen, sophomorix-samba
Description: linuxmuster.net configuration scripts
 This package provides configuration scripts for linuxmuster.net
